# Ambientes Virtuais
venv/
env/
instance/
mysql_data/

# Banco de Dados (Segurança)
database.db
*.db
*.sqlite3

# Arquivos de Cache e Sistema
__pycache__/
*.pyc
.env
.DS_StoreS
.venv/

# Arquivos de Segurança
seguranca/