version: '3.8'
services:
  db:
    image: mysql:8.0
    container_name: task_master_db
    restart: always
    environment:
      # O Docker puxa automaticamente do arquivo .env
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  web:
    build: .
    restart: on-failure
    ports:
      - "5000:5000"
    environment:
      # Montamos a URL usando as variáveis para não expor a senha aqui
      - DATABASE_URL=mysql+pymysql://root:${MYSQL_ROOT_PASSWORD}@db:3306/${MYSQL_DATABASE}
      - SECRET_KEY=${SECRET_KEY}
    depends_on:
      - db

volumes:
  mysql_data: